#html {
    background-image: url("../img/fondoAE.jpg");
    background-repeat: no-repeat;
}


.bodyStyle {
    font-family: Tw Cen MT;
    color: #8c8c8c;
    line-height: 2;
    margin: 7% 5%;
    padding: 2em 2em 4em;
    text-align: center;
}

h5{
    margin-bottom: 0;
    margin-top: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid #8bc8ce;
    background-color: #00ACC1;
}

.navbar a,
#span {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 2% 1%;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
    
}

.navbar #span,
img {
    float: left;
    padding: 1% 0 1% 5.5%;
}

.navbar #span {
    font-size: 43px;
    padding: 1% 0;
    font-family: Tw Cen MT;
}

.navbar a:hover {
    color: #8bc8ce;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
}

#CerrarSesion {
    margin-right: 35px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px #7d7d7d;
}

input[type=submit] {
    width: 80%;
    background-color: #00ACC1;
    box-shadow: 2px 2px 10px #7d7d7d;
    color: white;
    padding: 14px 20px;
    margin: 3% 10%;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #8bc8ce;
    box-shadow: 2px 2px 10px #7d7d7d;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
}

.btn {
    background-color: #00ACC1;
    width: 40%;
    box-shadow: 2px 2px 10px #7d7d7d;
    color: white;
    padding: 14px 20px;
    margin: 3% 20%;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 23px;
    font-family: Tw Cen MT;
}

.btn:hover {
    background-color: #B2E6EC;
    box-shadow: 2px 2px 10px #7d7d7d;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
}

.btnEliminar {
    margin: 3% 4.5%;
    background-color: #b80d0d;
}

.btnEliminar:hover {
    background-color: #ef4c4c;
}

.btnEditar {
    margin: 3% 4.5%;
    background-color: #33c18a;
}

.btnEditar:hover {
    background-color: #80dfbb;
}

.formDiv {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
    margin: 7% 10%;
    box-shadow: 7px 7px 15px #7d7d7d;
    text-align: center;
}

.titulo{
    font-size: 33px;
    padding: 0;
    margin: 0;
    color: #3a3a3a;
    border-bottom: 1px solid #3a3a3a;
}

.divFloat{
    float: left;
    margin-left: 8%;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #8bc8ce;
    background-color: #00ACC1;
}

.footer a {
    float: right;
    color: #f2f2f2;
    padding: 0.5% 1%;
    text-decoration: none;
    font-size: 15px;
    
    font-family: 'Varela Round', sans-serif;
}

.footer a:hover {
    color: #8bc8ce;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    /* Safari */
}

/*CSS modal*/
div.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 13.4%; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto 30%;
    padding: 0;
    border: 1px solid #888;
    width: 35%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

div.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}


div.modal-body {padding: 2px 16px;}


div.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

span.popup-cerrar {
    color: white;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}

span.popup-cerrar:hover,
span.popup-cerrar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

span.popup-cerrar:target{
    display: none;
}


/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* Card de las ventanas Ver (Item/Departamento/Empleado)*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    text-align: center;
    margin: 0 26%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}