#html {
    background-image: url("../img/fondoAEItems.png");
    background-repeat: no-repeat;
}

hr{
    margin-left: 35%;
    margin-right: 35%;
}
#h3Imagen{
    width: 96%;
}
p,h5{
    margin-bottom: 0%;
    margin-top: 0%;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid #8bc8ce;
    background-color: #00ACC1;
}

.navbar a,
#span {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 2% 1%;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
    
}

.navbar #span,
img {
    float: left;
    padding: 1% 0 1% 5.5%;
}

.navbar #span {
    font-size: 43px;
    padding: 1% 0;
    font-family: Tw Cen MT;
}

.navbar a:hover {
    color: #8bc8ce;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
}

#CerrarSesion {
    margin-right: 35px;
}

.bodyStyle {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    color: #8c8c8c;
    line-height: 2;
    margin: 7% 5%;
    padding: 2em 2em 4em;
    
}

.formDiv {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 5px;
    margin: 7% 10%;
    margin-bottom: 15px;
}

.formDivv {
    margin: 7% 10% 7% 40%;
    margin-top: 0;
}
.divInfo{
    margin-left: 38%;
    margin-right: 10%;
}


#imagenInstrucciones{
    padding: 0 0 0 0;
    margin: 0 5% 0 10%;
    float: left;
}
#detalleInfo{
    background-color: #f2f2f2;
    padding: 5px;
    /*padding: 0 0 0 0;*/
    margin: 0% 5% 0% 10%;
    float: left;
}

.titulo{
    font-size: 33px;
    padding: 0;
    margin: 0;
    color: #3a3a3a;
    border-bottom: 1px solid #3a3a3a;
    text-align: center;
}

.resultado{
    font-family: Tw Cen MT;
    font-size: 20px;
    padding-right: 4%;
    padding-left: 4%;
    text-align: justify;
}

.divFloat{
    float: left;
    margin-left: 2%;
}

/* Style the links inside the sidenav */
#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -80px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    padding-left: 0.7%;
    padding-right: 2.5%;
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: transparent; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
    margin-top: 17%;
}

#mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
    color: white;
}

/* The about link: 20px from the top with a green background */
#items {
    top: 20px;
    background-color: #19b4c7;
}

#departamentos {
    top: 80px;
    background-color: #66cdd9; /* Blue */
}

#empleados {
    top: 140px;
    background-color: #b2e6ec; /* Red */
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #7d7d7d;
    background-color: white;
}

.footer a, h6 {
    float: right;
    color: black;
    padding: 0.5% 1%;
    text-decoration: none;
    font-size: 15px;
    
    font-family: 'Varela Round', sans-serif;
}

.footer a:hover {
    color: #7d7d7d;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    /* Safari */
}