.bodyStyle {
    font-family: 'Varela Round', sans-serif;
    color: #8c8c8c;
    line-height: 2;
    margin: 7% 5%;
    padding: 2em 2em 4em;
}
#titulo {
    width: 250px;
    height: 50px;
    text-align: center;
    color: black;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 0px;
    align-content: center;
    position: fixed; 
}
#tituloEmpleado {
    width: 320px;
    height: 50px;
    text-align: center;
    color: black;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 0px;
    align-content: center;
    position: fixed; 
}
#tituloDepartamento {
    width: 362px;
    height: 50px;
    text-align: center;
    color: black;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 0px;
    align-content: center;
    position: fixed; 
}
#btn{
    text-align: right;
}
/*Estilos para el navbar*/
.navbar {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #00ACC1;
}

.navbar a, #span {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 2% 1%;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
}

#CerrarSesion{
    margin-right: 35px;
}

.navbar #span, img {
    float: left;
    padding: 1% 0 1% 5.5%;
}

.navbar #span {
    font-size: 43px;
    padding: 1% 0;
    
    font-family: Tw Cen MT;
}

.navbar a:hover {
    color: #7fd5e0;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
}
/*Estilos para la tabla*/
table {
    width: 100%;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

th, td {
    padding: 5px 10px;
    text-align: left;
}

table#tablePrincipal tr:nth-child(even) {
    background-color: #eee;
}

table#tablePrincipal tr:nth-child(odd) {
    background-color: #fff;
}

table#tablePrincipal th {
    background-color: #00ACC1;
    color: white;
}

table#tablePrincipal tr:hover {
    background-color:#D5DBDB;
}
/*Estilos para los botones*/
.button {
    color: white;
    width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0 4px 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    box-shadow: 2px 2px 10px #7d7d7d;
}

.button:hover {
    opacity: 5
}

.buttonItem {
    border-radius: 7px;
    background-color: #00ACC1;
    border: 2px solid #00ACC1;
    opacity: 0.8;
    padding: 10px 10px;
}

.buttonVerItem{
    width: 50%;
}

.buttonEmpleado {
    border-radius: 7px;
    background-color: #00ACC1  ;
    border: 2px solid #00ACC1  ;
    opacity: 0.8;
    padding: 10px 0px;
    width: 170px;
}

.buttonVerEmpleado{
    width: 40%;
}

.buttonDepartamento {
    border-radius: 7px;
    background-color: #00ACC1;
    border: 2px solid #00ACC1;
    opacity: 0.8;
    padding: 10px 0px;
    width: 200px;
}

.buttonVerDepartamento{
    width: 40%;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
}

.footerStyle {
    background-color: #f2f2f2;
}
.footer a {
    float: right;
    color: black;
    padding: 0.5% 1%;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
}

.footer a:hover {
    color: #B2BABB;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    /* Safari */
}

.contenedor {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 30px;
    box-shadow: 2px 2px 10px #7d7d7d;
}



