/*Estilos generales*/
html {
    background-image: url("../img/fondoLogin.png");
}
.center {
    margin: auto;
    width: 30%;
    padding: 10px;
}
div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 30px;
    box-shadow: 2px 2px 10px #7d7d7d;
}
/*Estilos para los input*/
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: dodgerblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.site-title  {
	color: #000;
    border-bottom: 1px solid white;
    text-align: center;
    color: white;
}
h1{
    border: 0;
	font-family: inherit;
	font-size: 250%;
	font-style: inherit;
	font-weight: inherit;
	margin: 20px;
	outline: 0;
	padding: 0px;
	vertical-align: baseline;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Varela Round', sans-serif;
	font-weight: 400;
}
label{
    font-family: 'Varela Round', sans-serif;
}

/*Estilos para los botones*/
.button {
    background-color: #008CBA; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0 4px 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    align-items: ;
    border-radius: 4px;
    background-color: #008CBA; 
    color: white; 
    border: 2px solid #008CBA;
    opacity: 0.8;
    padding: 10px 50px;
    box-shadow: 2px 2px 10px #7d7d7d;
}

.button1:hover {
    opacity: 5
}

/*CSS modal*/
div.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 13.4%; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto 30%;
    padding: 0;
    border: 1px solid #888;
    width: 35%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

div.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}


div.modal-body {padding: 2px 16px;}


div.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

span.popup-cerrar {
    color: white;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}

span.popup-cerrar:hover,
span.popup-cerrar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

span.popup-cerrar:target{
    display: none;
}


/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}