html {
    background-image: url("../img/fondo.png");
    background-repeat: no-repeat;
}

h1 {
    color: #fff;
    padding: 0 55% 0 0;
    text-align: center;
    font-size: 70px;
    margin: 6.3% 0 0 0;
}

p {
    color: #fff;
    text-align: center;
    padding: 0 55% 0 0;
    font-size: 19px;
}

h2 {
    margin-top: 1.3em;
}

b,
strong {
    font-weight: 600;
}

.bodyStyle {
    font-family: Tw Cen MT;
    color: #8c8c8c;
    line-height: 2;
    margin: 7% 5%;
    padding: 2em 2em 4em;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid #8bc8ce;
}

.navbar a,
#titulo {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 2% 1%;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
}

.navbar #titulo,
img {
    float: left;
    padding: 1% 0 1% 5.5%;
}

.navbar #titulo {
    font-size: 43px;
    padding: 1% 0;
    font-family: Tw Cen MT;
}

a:hover {
    color: #8bc8ce;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    /* Safari */
}

#CerrarSesion{
    margin-right: 20px;
}

.button {
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 165px;
    cursor: pointer;
    border-radius: 12px;
    background-color: transparent;
    color: white;
    border: 2px solid #fff;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    /* Safari */
}

.button:hover {
    background-color: #8bc8ce;
    color: white;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #8bc8ce;
    background-color: none;
}

.footer a {
    float: right;
    color: #f2f2f2;
    padding: 1% 1%;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
}

.footer a:hover {
    color: #8bc8ce;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    /* Safari */
}
